@page
@using Public_transport.Models
@model Public_transport.Pages.TimeModel
@{
}
<div class="text-center">
    @if(@Model.Type=="T")
    {
        <h1>Троллейбус № @Model.NameT</h1>
    }
    else
    {
        <h1>Автобус № @Model.NameT</h1>
    }
    <h1>Остановка: @Model.NameS</h1>
    <h2 class="display-6">Расписание с Понедельника по Пятницу!!!</h2>
    <code>@Model.TimeMonFri</code>
    
    <h2 class="display-6">Расписание с Субботы по Воскресенье!!!</h2>
    <code>@Model.TimeSaSu</code>
</div>