@page
@using Public_transport.Models
@model Public_transport.Pages.TimeModel
@{
    string[] TimeMonFri1 = Model.TimeMonFri.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries);
    string[] TimeSaSu1 = Model.TimeSaSu.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries);
    string[] TimeMonFri2 = Model.TimeMonFri.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    string[] TimeSaSu2 = Model.TimeSaSu.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
}
<div class="text-center">
    @if(@Model.Type=="T")
    {
        <h1>Троллейбус № @Model.NameT</h1>
    }
    else
    {
        <h1>Автобус № @Model.NameT</h1>
    }


    <h1>Остановка: @Model.NameS</h1>
    <h2 class="display-6">Расписание с Понедельника по Пятницу!!!</h2>
    @if (@Model.Type == "T")
    {
        @foreach (string arr in TimeMonFri1)
        {
            <a>@arr</a>
        }   
    }
    else
    {
        @foreach (string arr in TimeMonFri2)
        {
            <a>@arr</a>
        }
    }
    
    <h2 class="display-6">Расписание с Субботы по Воскресенье!!!</h2>
    @if (@Model.Type == "T")
    {
        @foreach (string arr in TimeSaSu1)
        {
            <a>@arr</a>
        }
    }
    else
    {
        @foreach (string arr in TimeSaSu2)
        {
            <a>@arr</a>
        }
    }

</div>