@page
@using Public_transport.Models
@model Public_transport.Pages.TimeModel
@{
    string[] TimeMonFriT = Model.TimeMonFri.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries);
    string[] TimeSaSuT = Model.TimeSaSu.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries);
    string[] TimeMonFriA = Model.TimeMonFri.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    string[] TimeSaSuA = Model.TimeSaSu.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    int dayofweek = (int)DateTime.Now.DayOfWeek;
    
}

<div class="text-center">
    @if(@Model.Type=="T")
    {
        <h1>Троллейбус № @Model.NameT</h1>
    }
    else
    {
        <h1>Автобус № @Model.NameT</h1>
    }
    <h1>Остановка: @Model.NameS</h1>

    @if (dayofweek>=6)
    {
        @if (@Model.Type == "T")
        {
            try
            {
                var busTimes = TimeSaSuT
                .Select(x => DateTime.Parse(x))
                .ToList();

                var now = DateTime.Now.TimeOfDay;

                var closestTime = (from x in busTimes
                                   where x.TimeOfDay > now
                                   orderby x.TimeOfDay ascending
                                   select x).First();
                string time = closestTime.ToString("HH:mm");
                <h4 class="display-6">Ближайшее время маршрута</h4>
                <a>@time</a>
            }
            catch
            {
                <h4 class="display-6">Ближайшее время маршрута</h4>
                <a>@TimeSaSuT.First()</a>
            }
        }
        else
        {
            try
            {
                var busTimes = TimeSaSuA
                .Select(x => DateTime.Parse(x))
                .ToList();

                var now = DateTime.Now.TimeOfDay;

                var closestTime = (from x in busTimes
                                    where x.TimeOfDay > now
                                    orderby x.TimeOfDay ascending
                                    select x).First();
                string time = closestTime.ToString("HH:mm");
                <h4 class="display-6">Ближайшее время маршрута</h4>
                <a>@time</a>
            }
            catch
            {
                <h4 class="display-6">Ближайшее время маршрута</h4>
                <a>@TimeSaSuA.First()</a>
            }
        }
    }
    else
    {
        @if (@Model.Type == "T")
        {
            try
            {
                var busTimes = TimeMonFriT
                .Select(x => DateTime.Parse(x))
                .ToList();

                var now = DateTime.Now.TimeOfDay;

                var closestTime = (from x in busTimes
                                    where x.TimeOfDay > now
                                    orderby x.TimeOfDay ascending
                                    select x).First();
                string time = closestTime.ToString("HH:mm");
                <h4 class="display-6">Ближайшее время маршрута</h4>
                <a>@time</a>
            }
            catch
            {
                <h4 class="display-6">Ближайшее время маршрута</h4>
                <a>@TimeMonFriT.First()</a>
            }
        }
        else
        {
            try
            {
                var busTimes = TimeMonFriA
                .Select(x => DateTime.Parse(x))
                .ToList();

                var now = DateTime.Now.TimeOfDay;

                var closestTime = (from x in busTimes
                                    where x.TimeOfDay > now
                                    orderby x.TimeOfDay ascending
                                    select x).First();
                string time = closestTime.ToString("HH:mm");
                <h4 class="display-6">Ближайшее время маршрута</h4>
                <a>@time</a>
            }
            catch
            {
                <h4 class="display-6">Ближайшее время маршрута</h4>
                <a>@TimeMonFriA.First()</a>
            }
        }
    }

<details>
    <summary>Полное расписание</summary>
    <h2 class="display-6">Расписание с Понедельника по Пятницу!!!</h2>
    @if (@Model.Type == "T")
    {
        @foreach (string arr in TimeMonFriT)
        {
            <a>@arr</a>
        }   
    }
    else
    {
        @foreach (string arr in TimeMonFriA)
        {
            <a>@arr</a>
        }
    }
    
    <h2 class="display-6">Расписание с Субботы по Воскресенье!!!</h2>
    @if (@Model.Type == "T")
    {
        @foreach (string arr in TimeSaSuT)
        {
            <a>@arr</a>
        }
    }
    else
    {
        @foreach (string arr in TimeSaSuA)
        {
            <a>@arr</a>
        }
    }

</details>
</div>
