@page
@using Public_transport.Models
@model Public_transport.Pages.TimeModel
@{
    string[] TimeMonFriT = Model.TimeMonFri.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries);
    string[] TimeSaSuT = Model.TimeSaSu.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries);
    string[] TimeMonFriA = Model.TimeMonFri.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    string[] TimeSaSuA = Model.TimeSaSu.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    int dayofweek = (int)DateTime.Now.DayOfWeek;
    
}

<div class="center">
    @if(@Model.Type=="T")
    {
        <a class="gradient-button" href="/Stops?IdTransport=@Model.IDT&NameTransport=@Model.NameT&TypeTransport=@Model.Type">Троллейбус № @Model.NameT</a><br>
    }
    else
    {
        <a class="gradient-button" href="/Stops?IdTransport=@Model.IDT&NameTransport=@Model.NameT&TypeTransport=@Model.Type">Автобус № @Model.NameT</a><br>
    }
    <a class="gradient-button" href="/Transport?IdStops=@Model.IDS&NameStop=@Model.NameS">Остановка: @Model.NameS</a>
    <div class="TextTime3">
    @if (dayofweek>=6)
    {
        @if (@Model.Type == "T")
        {

            try
            {
                var transportTimes = TimeSaSuT
                .Select(x => DateTime.Parse(x))
                .ToList();

                var now = DateTime.Now.TimeOfDay;

                var closestTime = (from x in transportTimes
                                   where x.TimeOfDay > now
                                   orderby x.TimeOfDay ascending
                                   select x).First();
                string time = closestTime.ToString("HH:mm");
                <h4 class="TextTime2">Ближайшее время маршрута</h4>
                <a class="TextTime1">@time</a>
            }
            catch
            {
                <h4 class="TextTime2">Ближайшее время маршрута</h4>
                <a class="TextTime1">@TimeSaSuT.First()</a>
            }
        }
        else
        {
            try
            {
                var transportTimes = TimeSaSuA
                .Select(x => DateTime.Parse(x))
                .ToList();

                var now = DateTime.Now.TimeOfDay;

                var closestTime = (from x in transportTimes
                                    where x.TimeOfDay > now
                                    orderby x.TimeOfDay ascending
                                    select x).First();
                string time = closestTime.ToString("HH:mm");
                <h4 class="TextTime2">Ближайшее время маршрута</h4>
                <a class="TextTime1">@time</a>
            }
            catch
            {
                <h4 class="TextTime2">Ближайшее время маршрута</h4>
                <a class="TextTime1">@TimeSaSuA.First()</a>
            }
        }
    }
    else
    {
        @if (@Model.Type == "T")
        {
            try
            {
                var transportTimes = TimeMonFriT
                .Select(x => DateTime.Parse(x))
                .ToList();

                var now = DateTime.Now.TimeOfDay;

                var closestTime = (from x in transportTimes
                                    where x.TimeOfDay > now
                                    orderby x.TimeOfDay ascending
                                    select x).First();
                string time = closestTime.ToString("HH:mm");
                <h4 class="TextTime2">Ближайшее время маршрута</h4>
                <a class="TextTime1">@time</a>
            }
            catch
            {
                <h4 class="TextTime2">Ближайшее время маршрута</h4>
                <a class="TextTime1">@TimeMonFriT.First()</a>
            }
        }
        else
        {
            try
            {
                var transportTimes = TimeMonFriA
                .Select(x => DateTime.Parse(x))
                .ToList();

                var now = DateTime.Now.TimeOfDay;

                var closestTime = (from x in transportTimes
                                    where x.TimeOfDay > now
                                    orderby x.TimeOfDay ascending
                                    select x).First();
                string time = closestTime.ToString("HH:mm");
                <h4 class="TextTime2">Ближайшее время маршрута</h4>
                <a class="TextTime1">@time</a>
            }
            catch
            {
                <h4 class="TextTime2">Ближайшее время маршрута</h4>
                <a class="TextTime1">@TimeMonFriA.First()</a>
            }
        }
    }
    </div>

    <details class="time">
    <summary style="color:white">Полное расписание</summary>
    <div class="TextTime">
    <h2 class="TextTime2">Расписание с Понедельника по Пятницу!!!</h2>
    @if (@Model.Type == "T")
    {
        @foreach (string arr in TimeMonFriT)
        {
            <a class="TextTime2">@arr</a>
        }   
    }
    else
    {
        @foreach (string arr in TimeMonFriA)
        {
            <a class="TextTime2">@arr</a>
        }
    }

        <h2 class="TextTime2">Расписание с Субботы по Воскресенье!!!</h2>
    @if (@Model.Type == "T")
    {
        @foreach (string arr in TimeSaSuT)
        {
            <a class="TextTime2">@arr</a>
        }
    }
    else
    {
        @foreach (string arr in TimeSaSuA)
        {
            <a class="TextTime2">@arr</a>
        }
    }
    </div>
</details>
</div>
@section TimeStyle {
    <link rel="stylesheet" href="~/css/TimeStyle.css" />
}
