@page
@using Public_transport.Models
@model Public_transport.Pages.TransportModel
@{
    int index = 0;
    int value1 = 0;
    int value2 = 0;
    int namber = 0;
    int dayofweek = (int)DateTime.Now.DayOfWeek;
    List<PublicTransport> NAME = new List<PublicTransport>();
    List<string> TIMEt = new List<string>();
    List<string> TIMEa = new List<string>();
    foreach(PublicTransport name in Model.ResName)
    {
        NAME.Add(name);
    }
}

<div class="Text">
    <h2>Остановка: @Model.Name</h2>
    <h2>Ближайшие маршруты</h2>
        <h2>Троллейбусы</h2>
    @foreach (RelationshipBetweenTransportsAndStops Time in Model.ResId)
        {
            @if(NAME[value1].Type=="T")
            {
                if(dayofweek>=6)
                {
                    string[] TimeSaSu = Time.TimeSaSu.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                    try
                    {
                        var transportTimes = TimeSaSu
                        .Select(x => DateTime.Parse(x))
                        .ToList();

                        var now = DateTime.Now.TimeOfDay;

                        var closestTime = (from x in transportTimes
                                            where x.TimeOfDay > now
                                            orderby x.TimeOfDay ascending
                                            select x).First();
                        string time = closestTime.ToString("HH:mm");
                        TIMEt.Add(time);
                    }
                    catch
                    {
                        TIMEt.Add(TimeSaSu.First());
                    }
                }
                else
                {
                    string[] TimeMonFri = Time.TimeMonFri.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                    try
                    {
                        var transportTimes = TimeMonFri
                        .Select(x => DateTime.Parse(x))
                        .ToList();

                        var now = DateTime.Now.TimeOfDay;

                        var closestTime = (from x in transportTimes
                                            where x.TimeOfDay > now
                                            orderby x.TimeOfDay ascending
                                            select x).First();
                        string time = closestTime.ToString("HH:mm");
                        TIMEt.Add(time);
                    }
                    catch
                    {   
                        TIMEt.Add(TimeMonFri.First()); 
                    }
                }
                value1++;
            }

            if(value1==0)
            {
                <a>На данной остановке маршрутов нет</a>
                break;
            }
            
        }
        @{
            Dictionary<string, string> keysT = new Dictionary<string, string>();
            for (var i = 0; i < TIMEt.Count; i++)
            {
                keysT.Add(NAME[namber].Name, TIMEt[i]);
                namber++;
            }
            foreach(var item in keysT.OrderBy(x=>x.Value))
            {
                <h4>@item.Key (@item.Value)</h4>
            }
        }
        <h2>Автобусы</h2>
    @foreach (RelationshipBetweenTransportsAndStops Time in Model.ResId)
        {
            @if(NAME[value2].Type=="A")
            {
                if (dayofweek >= 6)
                {
                    string[] TimeSaSu = Time.TimeSaSu.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                    try
                    {
                        var transportTimes = TimeSaSu
                        .Select(x => DateTime.Parse(x))
                        .ToList();

                        var now = DateTime.Now.TimeOfDay;

                        var closestTime = (from x in transportTimes
                                           where x.TimeOfDay > now
                                           orderby x.TimeOfDay ascending
                                           select x).First();
                        string time = closestTime.ToString("HH:mm");
                        TIMEa.Add(time);
                    }
                    catch
                    {
                        TIMEa.Add(TimeSaSu.First());
                    }
                }
                else
                {
                    string[] TimeMonFri = Time.TimeMonFri.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                    try
                    {
                        var transportTimes = TimeMonFri
                        .Select(x => DateTime.Parse(x))
                        .ToList();

                        var now = DateTime.Now.TimeOfDay;

                        var closestTime = (from x in transportTimes
                                           where x.TimeOfDay > now
                                           orderby x.TimeOfDay ascending
                                           select x).First();
                        string time = closestTime.ToString("HH:mm");
                        TIMEa.Add(time);
                    }
                    catch
                    {
                        TIMEa.Add(TimeMonFri.First());
                    }
                }
            }
            value2++;
            
        }
        @{
            Dictionary<string, string> keysA = new Dictionary<string, string>();
            for (var i = 0; i < TIMEa.Count; i++)
            {
            keysA.Add(NAME[namber].Name, TIMEa[i]);
                namber++;
            }
            foreach(var item in keysA.OrderBy(x=>x.Value))
            {
                <h4>@item.Key (@item.Value)</h4>
            }
        }
</div>
<div class="Text">
    <details>
    <summary>Все маршруты</summary>
    <h2>Троллейбусы</h2>
    <ul style="list-style: none;"> 
    @foreach (PublicTransport Name in Model.ResName)
    {
        if (Name.Type == "T")
        {
            <li><a class="gradient-button" href="/Time?IdStops=@Model.ID&IdTransport=@Name.Id&NameTransport=@Name.Name&NameStop=@Model.Name&TypeTransport=@Name.Type">@Name.Name</a></li>
            ++index;
        }

        if (index==0)
        {
            <li>На данной остановке маршрутов нет</li>
            break;
        }            
    }
    </ul>
    <h2>Автобусы</h2>
    <ul style="list-style: none;">
        @foreach (PublicTransport Name in Model.ResName)
        {
            if (Name.Type == "A")
            {
                    <li><a class="gradient-button" href="/Time?IdStops=@Model.ID&IdTransport=@Name.Id&NameTransport=@Name.Name&NameStop=@Model.Name&TypeTransport=@Name.Type">@Name.Name</a></li>
            }

        }
    </ul>
    </details>
</div>
@section TransportStyle {
    <link rel="stylesheet" href="~/css/TransportStyle.css" />
}